//ABSTRACTS
@import "../abstracts/mixins";
@import "../abstracts/variables";

//HEAD PAGE
.head-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 120px;
    right: 120px;
    @include xl{
        left: 20px;
        right: 100px;
    }
    @include lg{
        flex-direction: column;
    }
    @include tablet{
        right: 20px;
    }
}

//HEAD IMG
.head-img {
    position: relative;
    @include tablet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &::before{
        content: " ";
        position: absolute;
        bottom: -32px;
        right: -78px;
        width: 464px;
        height: 473px;
        border: 1px solid $white;
        border-radius: 24px;
        @include lg{
            height: 364px;
        }
        @include tablet {
            display: none;
        }
    }
    .from-right{
        transform: translateX(50%);
    }
    .from-right{
        transition: opacity 300ms ease-in, transform 600ms ease-in;
        opacity: 0;
    }
    .from-right.appear{
        transform: translateX(0);
        opacity: 1;
    }
    img{
        border-radius: 16px;
        z-index: 1;
        @include lg{
            width: calc(100% - 140px);
            height: calc(100% - 140px);
        }
        @include mobileL{
            width: 80%;
        }
        @include mobileM{
            width: 90%;
        }
    }
}

//HEAD TEXT
.head-text{
    @include lg {
        margin-bottom: 30px;
    }
    h1{
        font-size: $h1Size;
        font-family: $fontFamilyArimo;
        font-weight: bold;
        color: $white;
        line-height: 55px;
        margin-bottom: 24px;
    }
    
    br{
        @include lg{
            display: none;
        }
    }
    
    h2{
        font-size: $h2Size;
        font-family: $fontFamilyArimo;
        font-weight: normal;
        font-style: normal;
        color: $white;
        line-height: 37px;
    }

    .from-left{
        transform: translateX(-50%);
    }
    .from-left{
        transition: opacity 300ms ease-in, transform 600ms ease-in;
        opacity: 0;
    }
    .from-left.appear{
        transform: translateX(0);
        opacity: 1;
    }
}

// HEAD FOOTER
.head-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 45px;
    left: 10%;
    right: 10%;
    @include breakpoints(829px){
        bottom: 15px;
    }
    &:hover{
        opacity: 0.7;
    }
    &:active{
        opacity: 0.2;
    }
    .fade-in{
        opacity: 0;
        transition: opacity 800ms ease-in;
    }
    .fade-in.appear {
        opacity: 1;
    }
p{
    font-size: $labelSmallText;
    font-family: $fontFamilyArimo;
    color: $white;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 36px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
#mouse{
    text-align: center;
    margin-top: 14px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}
}
