//COLOURS

// BLUE COLOURS
$blue: #0051F9;
$lightBlue: #EBF1FF;
$darkBlue: #232A36;
$darkBlueFooter: #1E2533;

//GREY COLOURS
$darkGrey: #4B4B4B;
$lightGrey: #717171;
$strokeGray: #D2D2D2;
$white: #FFFFFF;

//FONT FAMILY
$fontFamilyArimo: 'Arimo', sans-serif;

//FONT SIZE
$h1Size: 48px;
$h2Size: 32px;
$h3Size: 20px;
$h4Size: 18px;
$h5Size: 16px;
$pSize: 18px;
$buttonSize: 15px;
$labelText: 18px;
$labelSmallText: 12px;